.container{
  display: flex;
  justify-content: center;
  grid-gap: 20px;
}

#video {
  flex-basis: 960px;
  padding-top: 30px;
}

.vjs-cue-control{
  position: absolute;
  height: 100%;
  width: var(--cue-control-width);
}

.vjs-cue-marker {
  position: absolute;
  background-color: #FFF;
  width: 6px;
  height: 6px;
  transition: all 200ms ease;
  transform: rotate(45deg);
  z-index: 3;
}

.vjs-cue-marker:hover {
  transform: scaleX(2) !important;
}

.video-js:hover .vjs-cue-marker {
  height: 100%;
  width: 3px;
  transform: rotate(0deg);
}

.vjs-progress-control:hover .vjs-cue-marker {
  height: 150%;
  bottom: -25%;
}

.video-js {
  padding: 0 5px;
  bottom: 17px;
  display: none;
}

.vjs-cue-tip {
  position: absolute;
  pointer-events: none;
  display: none;
  z-index: 4;
}

.vjs-cue-data {
  color: #e0e0e0;
  border: 1px solid transparent;
  font-size: x-small;
  border-radius: 0.3em;
  background-color: rgba(0, 0, 0, .5);
  padding: 5px 10px;
  box-shadow: 0px 0px 2px #c6c6c6;
}

.vjs-cue-tip-visible {
  display: block;
}